<div class="container">
  <div class="row">
    <nav class="navbar fixed-top  navbar-dark bg-dark">
        <div class="form-inline col-sm-12">
        <a class="navbar-brand mr-sm-2 col-sm-5">ABC</a>
        <div class="btn-group">
          <button class="btn btn-outline-success mr-sm-2" type="submit" [routerLink]="['/app-profile']">Profile</button>
          <button class="btn btn-outline-success " type="submit">Contact</button>
        </div>
        </div>
    </nav>
  </div>
</div>
<br>
<br>
<br>
<router-outlet></router-outlet>

